img {
  float: left;
  padding: 30px;
  position: relative;
}
.sidebar {
  color: purple;
  float: right;
  background-color: #a1e7f4;
  padding-right: 50px;
  border: 5px dotted teal;
  margin: 10px
}
ul {
    list-style-type: none;
}
h3 {
  text-align: center;
}
